.riwayat h1{
    font-weight: bold;
    font-size: 30px;
    margin-left: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.riwayat table{
    margin-left: 8%;
    width: 1300px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
}
.riwayat table td {
    border: 2px solid black;
    text-align: center;

}