.riwayatPembelian {
}

.riwayatPembelian table th {
  border-right: 1px solid black;
}
.riwayatPembelian table td {
  border-right: 1px solid black;
  border-bottom: 0px;
}

.riwayatPembelian table {
  border: 1px solid black;
  border-radius: 20px;
}
