.keranjang .tableKeranjang {
  border: 1px solid black;
  width: 60%;
  margin-left: 76px;
  border-radius: 10px;
}

.keranjang .pesanan {
  border: 1px solid black;
  width: 318px;
  height: 419px;
  border-radius: 10px;
}

.keranjang .pesanan hr {
  background-color: rgba(0, 0, 0, 0.473);
  opacity: 1;
}

.keranjang .tableKeranjang table button {
  width: 30px;
  height: 30px;
}

.keranjang .tambahProduct button {
  margin-left: 115px;
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #155b92;
}

.keranjang .tambahProduct button:hover {
  border: 2px solid white;
  background-color: #155b92;
  transition: 0.4s ease-in-out;
  color: white;
}
