.keranjang .tableKeranjang {
  border: 1px solid black;
  width: 60%;
  margin-left: 76px;
  border-radius: 10px;
}

.keranjang .pesanan {
  border: 1px solid black;
  width: 318px;
  height: 419px;
  border-radius: 10px;
}

.keranjang .pesanan hr {
  background-color: rgba(0, 0, 0, 0.473);
  opacity: 1;
}
