.keranjang .box{
    border: 1px solid black;
    height: auto;
    padding: 20px;
    width: 60%;
    border-radius: 13px;
}

.keranjang{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.keranjang .box table th{
    padding: 7px;
    text-align: center;
}

.keranjang .box table{
    width: 100%;
    text-align: center;
    border: none;
    margin-top: 30%;
}

.keranjang .box table .nama{
    width: 38%;
}

.keranjang .box table .jumlah{
    width: 28%;
}

.keranjang .box table .td{
    padding: 30px;
}

.keranjang .box table .harga{
    margin-top: -80px;
}

.keranjang .pesanan table{
    border: 1px soldi black;
    width: 240px;
    border-radius: 110px;
}

.keranjang .pesanan table th{
    padding: 10px;
    height: 220px;
    width: 100px;
}

.keranjang .pesanan table h1{
    margin-top: -99px;
}

.keranjang h1{
    font-size: 30px;
    margin-left: 135px;
    margin-top: 90px;
}