.navbar {
  background-color: #fff;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.37);
}

.navbar-brand {
  color: #094067 !important;
  font-weight: bold;
  font-size: 27px;
}

.nav-link {
  color: #094067;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 600;
}

.profileUser a {
  display: flex;
  align-items: center !important;
  margin-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.navbar-nav {
  margin-right: 60px;
}
.profileUser .username {
  margin-left: 10px;
  margin-top: 7px;
}
