.CTA-SM {
  flex-basis: calc(20% - 10px);
  margin-bottom: 65px;
}
.CTA-SM .card {
  width: 200px;
  padding: 17px;
  box-shadow: 0px 4px 20px 0px #00000040;
}
.CTA-SM .card img {
  width: 150px;
  padding: 5px;
}

.CTA-SM .card h5 {
  font-size: 17px;
  font-weight: 600;
}
.CTA-SM .card h6 {
  margin-right: 10px;
}
.CTA-SM .card h6.normal {
  text-decoration: line-through;
  opacity: 50%;
}

.CTA-SM .card p {
  font-size: 13px;
  opacity: 50%;
}

.CTA-SM .card button {
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #3da9fc;
}

.CTA-SM .card button:hover {
  background-color: #3da9fc;
  color: #fff;
  transition: 0.3s;
}

.Semua-Macam h3 {
  font-weight: 600;
  color: #094067;
}
